@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.stat-subtitle{
    font-size: 22px;
    font-weight: bolder;
}

.fi-wi-stats-overview-stat{
    border: 1px solid slategrey;
}

.fi-wi-stats-overview-stat-value{
    color:#737380;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.fi-wi-stats-overview-stat-unit{
    color:#737380;
    font-size: 14px;
    text-align: right;
}

.meteorology-stat-value{
    font-size: 28px;
    font-weight: bolder;
}

.fi-wi-stats-overview-stat{
    padding: calc(0.5rem);
}

.fi-wi-stats-overview-stat-description span{
    width: 100%;
}

.fi-wi-stats-overview-stat-description{
    text-align: right;
    font-size: 18px;
    font-weight: bolder;
}

.fi-wi-stats-overview-stat-label{
    font-size: 16px;
    font-weight: bolder;
}

.footer-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;

  width: 100%;
  padding: 1rem;

  background-color: #fff;

  border-top: 1px solid #fff;

  display: flex;
  justify-content: space-between; /* kiri & kanan */
  align-items: center;

  box-shadow: 0 1px 3px rgba(0,0,0,0.1),
              0 1px 2px rgba(0,0,0,0.06);
  color: #4b5563;
  font-size: 1.125rem;
  font-weight: 600;

  /* Transition for hide/show on scroll */
  transition: transform 0.3s ease-in-out;
}

/* Class to hide footer */
.footer-bar.footer-hidden {
  transform: translateY(100%);
}

/* Ensure content is not hidden by footer when at bottom */
.fi-main {
    padding-bottom: 5rem !important;
}


.footer-right {
  white-space: nowrap;
}

.top-bar {
  width: 100%;
  height: 60px;
  /* padding: 0 16px; */

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* background: linear-gradient(180deg, #111 0%, #1a1a1a 100%); */
  /* border-bottom: 1px solid #333; */
}

.left-info {
  display: flex;
  align-items: center;
}

.btn-satuan {
  background-color: #1e73be;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
  padding: 6px 16px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-satuan:hover {
  background-color: #155a96;
}